html {
  height: cover;
  width: cover;
}

body {
  padding: 60px;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}




.pixel {
  background-size: 100px 115.4701px;
  background-position: center;
  position: relative;
  width: 100px; 
  height: 57.74px;
  margin: 16px 2px;
}

.pixel::before,
.pixel::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.pixel::before {
  bottom: 100%;
  width: 0;
  border-bottom: 28.87px solid #64C7CC;
}

.pixel::after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #64C7CC;
}

.gap {
  cursor: default;
  background-color: transparent;
  height: 50px;
  margin: 5px 0px;
}

.active {
  background-color: #64C7CC;
  cursor: pointer;
}

.p1 {
  background-color: red;
  
}

.p2 {
  background-color: blue;
}

